:root {
  --primary-color: #1e3870;
  --secondary-color: #114b45;
  --tertiary-color: #662503;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
  }
  body {
    text-align: center;
    background-color: azure;
  }
  img {
    display: block;
    margin: auto;
  }
}

body {
  margin: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

img {
  max-width: 400px;
}

.home-link {
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 25px;
}

.contact-link {
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 25px;
}

.photo-link {
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
}
